body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}
h1,h5{
font-family: 'Poppins', sans-serif;
}

.trend{
  margin-left: 3.3rem;
  margin-bottom: 2rem;
  letter-spacing: 5px;
}

table{
  border-spacing: 50px;
}
p {
  color: #8f8f8f;
}


.title-img-section{
  height: 0%;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* Image gallery */
.first{
  position: relative;
  display: inline-block;
}
.second{
  display: inline-block;
  left: 445px;
  bottom: 285px;
   /* position: relative; */
  /* right: 450px;  */
}
.third{
  display: inline-block;
  left: 890px;
  bottom: 574px;
  /* position: relative; */
  /* right: 900px;  */
}

.container {
  position: relative;
  width: 80%;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0;
  padding-right: 0;
}

.image {
  display: block;
  width: 440px;
  height: 280px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .4s ease;
  /* background-color: black; */
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}



/* Sections */
.company-features{
  height: 5rem;
  width: auto;
}

.colored-section {
  background-color: #27496d;
  color: #fff;
}

.colored-section-up {
  background-color: #fff;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
  margin-left: 3rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: grey;

  text-align: left;
}

#title .container-fluid {
  padding: 3% 5% 7%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features Section */

#features {
  position: relative;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 0;
}

.icon {
  color: grey;
  margin-bottom: 1rem;
}
.icon:hover {
  color: black;
}

.intro{
  width: 60%;
  margin: auto;
}
.reopen{
  margin-top: 0;
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
  background-color: #dae1e7;
}
.space{
  padding-top: 5rem;
  padding-bottom: 5rem;
}


  /* Testimonial Section */

#testimonials {
  color: #fff;
  background-color:#27496d;
}

.testimonial-text {
  font-size: 2.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* INSPIRATION Section */

.inspiration-section{
text-align: left;
margin-left: 6rem;
margin-top: 6rem;
letter-spacing: 8px;

}


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

.pad{
  padding-left: 0;
  padding-right: 0;
}


.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

/* Image gallery */
.container{
  max-width: 1250px;
  margin-left: 4rem;
  margin-right: 4rem;
  /* background: #f2f2f2; */
  overflow: auto;
}

.test{
margin-left: 3rem;

}
.img-gallery{
  height: 300px;
  width: 420px;
}
.gallery{
  margin: 2px;
  /* border: 1px solid #ccc; */
  float: left;
  width: 390px;
}

.gallery img{
  width: 420px;
  height: 300px;
}

.desc{
  padding: 15px;
  text-align: center;
}

/* Guides-section */
.guide-section{
  margin-top: 10rem;
}
.guide-image {
  height: 40%;
  width: 80%;
  border-radius: 50%;
  margin: 20px;
}
.caption{
  display: block;
}
.guide-table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

/* Stories */
.story-heading{
  padding-top: 5rem;
}
.width-taken{
  width: 70%;
  text-align: center;
  font-family: 'Inconsolata', monospace;
  margin-left :15rem;
}
.colored-story-section {
  background-color: #709fb0;
  color: #fff;
}

/* Footer */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.body-content{
  width: 100%;
  padding: 20px;
  text-align: justify;
  box-sizing: border-box;
  font-size: 18px;
  line-height: 40px;
}

.footer{
  width: 100%;
  background: #27496d;
  display: block;
}

.inner-footer{
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.label{
  font-size: 1.5rem;
  text-align: left;
  margin-left: -12rem;
}

.head{
  color: white;
  font-size: 26px;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    border: 3px solid #555;
}

.footer-items{
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

 .footer-items h2{
   margin: 10px 0;
   color: grey;
   font-size: 16px;
   font-weight: lighter;
   text-transform: uppercase;
 }
 /* h2{
   margin: 10px 0;
   color: grey;
   font-size: 20px;
   font-weight: bold;
   text-transform: uppercase;
 } */

 .border{
   height: 2px;
   width: 100px;
   background: #fff;
   margin-left: 110px;
 }

 ul{
   list-style: none;
   color: #fff;
   font-size: 15px;
   letter-spacing: 0.5px;
 }

 ul a{
   text-decoration: none;
   outline: none;
   color: #fff;
   transition: 0.3s;
 }

 ul a:hover{
   color: #ff9800;
 }
 ul li {
   margin: 10px 0;
   height: 25px;
 }
 li i{
   margin-right: 20px;
 }
 .social-media{
   width: 100%;
   color: white;
   text-align: center;
 }
 .social-media a{
   text-decoration: none;
 }
 .social-media i{
   height: 15px;
   width: 15px;
   margin: 20px 5px;
   padding: 10px;
   color: #fff;
   border-radius: 50%;
   border: 1px solid grey;
   transition: 0.3s;
 }
 .social-media i:hover {
   background: grey;
 }
 .footer-bottom{
   padding: 10px;
   background: #27496d;
   color: #fff;
   font-size: 12px;
 }

 @media screen and (max-width: 1085px){
   .footer-items{
     width: 50%;
   }
 }

@media screen and (max-width: 600px){
  .footer-items{
    width: 100%;
  }
}

